<div class="row">
  <div class="span6 middle">
    <div class="image lft">
      <img src="/assets/elecard.png" width="200" height="200" />
    </div>
    <div class="content">
      <h4>Сайт компании Elecard</h4>
      <ul class="tech">
        <li><span class="bold">Студия: </span><span class="t-rgt">DevStyle</span></li>
        <li><span class="bold">Что делал: </span>Поддежка (плагины, сниппеты)</li>
        <li><span class="bold">Сайт: </span><a href="http://elecard.com">www.elecard.com</a></li>
        <li><span class="bold">Технологии: </span>PHP, MODx, jQuery, HTML, CSS</li>
        <li><span class="bold">Сколько времени: </span>
          1 месяц.
        </li>
      </ul>
      <div class="comment">
        <span class="bold">Комментарий: </span>Считай, моя первая работа.
        Первый проект, официальный, с поддержкой, со всеми сложностями и
        dev версиями. Первый опыт с MODx...и надеюсь последний :)
      </div>
    </div>
  </div>
  <div class="span6 middle">
    <div class="image rgt">
      <img src="/assets/infraredsaunaparts.png" width="200" height="200" />
    </div>
    <div class="content">
      <h4>Infraredsaunaparts - все для саун</h4>
      <ul class="tech m-lft-z">
        <li><span class="bold">Студия: </span><span class="t-rgt">DevStyle</span></li>
        <li><span class="bold">Что делал: </span>Поддежка (плагины, сниппеты)</li>
        <li><span class="bold">Сайт: </span><a href="http://infraredsaunaparts.com">infraredsaunaparts.com</a></li>
        <li><span class="bold">Технологии: </span>PHP, CS-Cart, jQuery, HTML, CSS</li>
        <li><span class="bold">Сколько времени: </span>
          2 месяца.
        </li>
      </ul>
      <div class="comment">
        <span class="bold">Комментарий: </span>CS-Cart как движок не ахти. Но среди альтернатив выделяется...платной лицензией. В целом интересный и хороший проект. Подчерпнул не мало в e-commerce.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- BTL -->
  <div class="big">
    <div class="image lft">
      <img src="/assets/btl1.png" width="250" height="250" />
    </div>
    <div class="content" style="float: left;width: 620px;">
      <h4>BTL - агентство "Яркая жизнь"</h4>
      <ul class="tech m-lft-z">
        <li><span class="bold">Студия: </span><span class="t-rgt">Я сам</span></li>
        <li><span class="bold">Что делал: </span>Полная разработка - архитектура, дизайн, юзабилити.</li>
        <li><span class="bold">Сайт: </span><a href="http://btl-tomsk.ru">www.btl-tomsk.ru</a></li>
        <li><span class="bold">Технологии: </span>Ruby on Rails 3, ActiveAdmin, HTML5 & CSS3, jQuery</li>
        <li><span class="bold">Сколько времени: </span>
          1 месяц.
        </li>
      </ul>
      <div class="comment">
        <span class="bold">Комментарий: </span>Лично разработанный проект. Корпоративный сайт рекламной компании. Дизайн и функционал разделен для сотрудников и клиентов.
      </div>
    </div>
    <div class="image">
      <img src="/assets/btl2.png" width="250" height="250" />
    </div>
  </div>
</div>
<div class="row cnt">
  <div class="span6">
    <!-- potolok SAMSON -->
    <div class="small">
      <div class="image rgt">
        <img src="/assets/potoloksamson.png" width="250" height="250" />
      </div>
      <div class="content" style="width: 400px;">
        <h4>Натяжные потолки Самсон</h4>
        <ul class="tech m-lft-z">
          <li><span class="bold">Студия: </span><span class="t-rgt">forward70</span></li>
          <li><span class="bold">Что делал: </span>Разработка архитектуры, программирование.</li>
          <li><span class="bold">Сайт: </span><a href="http://potoloksamson.ru">www.potoloksamson.ru</a></li>
          <li><span class="bold">Технологии: </span>Ruby on Rails 3, ActiveAdmin, HTML5 & CSS3, jQuery</li>
          <li><span class="bold">Сколько времени: </span>
            2 недели.
          </li>
        </ul>
      </div>
    </div>
    <div class="small">
      <div class="image lft">
        <img src="/assets/baremont.png" width="250" height="250" />
      </div>
      <div class="content">
        <h4>Копроративный сайт "Бизнес Альянс"</h4>
        <ul class="tech m-lft-z">
          <li><span class="bold">Студия: </span><span class="t-rgt">forward70</span></li>
          <li><span class="bold">Что делал: </span>Программирование, доработка функционала</li>
          <li><span class="bold">Сайт: </span><a href="http://ba-remont.ru">ba-remont.ru</a></li>
          <li><span class="bold">Технологии: </span>Ruby on Rails 3, Rails Admin, HTML5 & CSS3, jQuery</li>
          <li><span class="bold">Сколько времени: </span>
            2 недели.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="span5">
    <div class="side">
      <div class="image lft">
        <img src="/assets/lipada2.png" width="250" height="250" />
      </div>
      <div class="image lft">
        <img src="/assets/lipada3.png" width="250" height="250" />
      </div>
      <div class="clear"></div>
        <h4>Фото доска объявлений - Lipada.ru</h4>
        <ul class="tech m-lft-z">
          <li><span class="bold">Студия: </span><span class="t-rgt">ws70</span></li>
          <li><span class="bold">Что делал: </span>Программирование, разработка функционала</li>
          <li><span class="bold">Сайт: </span><a href="http://lipada.ru">lipada.ru</a></li>
          <li><span class="bold">Технологии: </span>Ruby on Rails 3, Rails Admin, HTML5 & CSS3, jQuery</li>
          <li><span class="bold">Сколько времени: </span>
            2 месяца.
          </li>
        </ul>
        <div class="comment">
        <span class="bold">Комментарий: </span>Проект полностью разработан в студии.
        С нуля. Работа была очень интересная, и достаточно сложная. Команда использовала новейшие технологии веб разработки, делались ставки на производительность. Обладает рядом преимуществ перед аналогами: продуманное юзабилити, небольшая биллинговая система, удобный личный кабинет. Встроенная система администрирования.
        </div>
    </div>
  </div>
</div>
  
