<%= content_for :sidebar do %>
  <div class="categories">
    <div class="head">Категории</div>
    <ul>
      <% Category.all.each do |cat| %>
        <li>
          <i class="icon-share-alt"></i>
          <%= link_to cat.title, blog_path(cat.id) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>